hr {
    border: 2px solid black;
    width: 100vw;
}

.home_title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-block:1em ;
}

.msg {
    padding: 20% 42%;
}

.titlecase {
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .example-card {
        margin-left: 5%;
        max-width: 360px;
    }
}

@media screen and (max-width: 425px) {
    .example-card {
        margin-left: 5%;
        max-width: 360px;
    }
}

.example-header-image {
    height: 50px;
    width: 50px;
}

img {
    width: 360px;
    height: 360px;
}

.card {
    margin: 40px;
    display: inline-flex;
}

.body {
}